<nav class="nav">
  <div class="menu-container">
    <ul class="menu">
      {{ range .Site.Params.menu }}
      <li class="menu-item">
        <a href="{{ .url | absLangURL }}" class="menu-item-link" {{ if hasPrefix .url "http" }}target="_blank" rel="noopener"{{ end }}>
          {{ if .icon }}
          <span class="iconfont icon-{{ .icon }}"></span>
          {{ end }}
          {{ i18n .name . }}
        </a>
      </li>
      {{ end }}
    </ul>
    
    {{ partial "language-selector.html" . }}
  </div>
</nav>